@import "../../javascripts/Commons/search/Search.scss";

.popup{
	box-sizing:border-box;
	position: fixed;
	background-color: white;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    z-index: 1001;
}

.search-box{
	padding: 14px 20px;
	font-size: 24px;
	color: #666;
	display: flex;
	align-items:center;
	border-bottom: 1px solid #e7e7e7;
	.search{
		flex:1;
		@include placeholder(#ccc,left);
		padding-left:69px;
		background:url(/src/images/search.png) no-repeat 22px center;
		&:focus{
			text-indent: 0;
		}
	}
	.cancel-btn{
		width: 70px;
		margin-left: 22px;
		display: inline-block;
	}
	.delete-btn{
		position: absolute;
		display: inline-block;
		right: 20px;
		top:50%;
		cursor: pointer;
		transform:translateY(-50%);
	}
}

.hint-list{
	margin: 0 30px;
	overflow: auto;
	.listItem{
		vertical-align: middle;
		height: 86px;
		display: block;
		border-bottom:1px solid #e7e7e7;
	}
	.listItem a{
		font:28px/86px simHei;
		color:#666;
	}
}
