.card{
	height: 414px;
}
.field-title{
	width: 100%;
	height: 112px;
	display: flex;
	justify-content:center;
	align-items:center;
	h1{
		color:#666;
		font-size: 34px;
		font-family: simHei;
	}
	.introduction{
		display: inline-block;
		padding-left: 12px;
	}
}
.field-statics1{
	margin: 40px 0;
	display: flex;
	.stat1-item{
		height: 90px;
		flex:1;
		box-sizing:border-box;
		text-align: center;
		.name,.value{
			display: block;
		}
		.name{
			font-size:26px;
			color:#aaa;
		}
		.value{
			font-size: 48px;
			color:#333;
		}
	}
	.stat1-item:nth-child(n+1){
		border-left:1px solid #e7e7e7;
	}
}

.field-statics2{
	margin-top:96px;
	display: flex;
	.stat2-item{
		flex:1;
		box-sizing:border-box;
		text-align: center;
		.name,.value{
			display: inline-block;
			vertical-align: middle;
		}
		.name{
			font-size:22px;
			color:#ccc;
		}
		.value{
			margin-left: 10px;
			font-size: 32px;
			color:#999;
		}
	}
	.stat1-item:nth-child(n+1){
		border-left:1px solid #e7e7e7;
	}
}

.popup-description{
	width: 560px;
	position: fixed;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 1000;
	border-radius: 20px;

	background-color: #fff;
	.popup-body{
		padding: 0 37px;
		border-radius: 20px;
		.title{
			display: inline-block;
			width: 100%;
			text-align: center;
			// line-height: 110px;
			color: #666;
			font:34px/110px simHei;
			// font-size: 34px;
		}
		.definition{
			color:#666;
			font:28px/34px simHei;
		}
		.detail{
			font:28px/2 simHei;
			color: #999;
		}
	}
	.btn{
		height: 100px;
		width: 100%;
		line-height: 100px;
		background-color: #fafafd;
		text-align: center;
		color:#48a5f7;
		font-size: 34px;
		border-radius: 20px;
	}
}