<!DOCTYPE html>
<html style="font-size:75px!important">
  <head>
    <meta charset="UTF-8" />
    <meta name="flexible" content="maximum-dpr=3" />
    <meta name="viewport"/>
    <title>监控页面</title>
    <script src="../../lib/flexible.js"></script>

  </head>
  <body>
<!--     <header>
        <h1>监控页面</h1>
    </header> -->
    <main id="category">


    </main>
   <!--  <script src="../../build/javascripts/entries/route-page2.bundle.js"></script> -->
   <!-- https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/zh-cn.js -->
   <script src="http://localhost:3001/build/route-page2.bundle.js"></script>
  </body>
</html>